@model IEnumerable<WebApplication2.Models.Empresa>

@{
    ViewBag.Title = "Inicial_Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">Este é um jumbotron modificado que ocupa todo o espaço horizontal de seu elemento pai.</p>
    </div>
</div>


